.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;
  padding: 5px 30px;

  background-color: #1976d2;
}

.navigation {
  width: 20%;
}

.navigation__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navigation__list__item {
  color: aliceblue;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1666666667;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.profile__avatar {
  display: block;
  width: 50px;
  height: 50px;
  content: '';

  margin-right: 10px;

  background-color: aliceblue;
  border-radius: 100%;
}

.profile__name {
  margin-right: 30px;

  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1666666667;
}

.profile__signOut {
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1666666667;

  text-decoration-line: none;
}

.authintification {
  width: 20%;
}

.authintification__list {
  margin: 0px;
  padding: 0px;
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.authintification__register {
  color: aliceblue;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1666666667;
}

.authintification__signIn {
  color: aliceblue;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1666666667;
}
