.authintification {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.authintification__list {
  margin: 0px;
  padding: 0px;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.authintification__register {
  color: aliceblue;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1666666667;
}

.authintification__signIn {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1666666667;
}
